<a href="https://colab.research.google.com/github/M-I-N1985/python_para_analise_de_dados_wes_mckinney/blob/main/capitulo_6_wes_mckinney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lendo e escrevendo dados em formato-texto**
####read_csv, read_table, read_fwf, read_clipboard, read_excel, read_hdf, read_html, read_json, read_msgpack, read_pickle, read_sas, read_sql, read_stata, read_feather

##**Os argumentos opcionais dessas funções podem se enquadrar em algumas categorias:**

####Indexação,Inferência de tipos e conversão de dados, Parsing de data e hora, Iteração, Problemas com dados sujos,

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)

In [2]:
df0 = pd.read_csv('examples/ex1.csv')
df0

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
df1 = pd.read_table('examples/ex1.csv', sep = ',')
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
df2 = pd.read_csv('examples/ex2.csv', header=None)
df2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [5]:
df3 = pd.read_table('examples/ex2.csv', sep=',', names = ['a', 'b', 'c', 'd', 'message'])
df3

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
names = ['a', 'b', 'c', 'd', 'message']
df4 = pd.read_csv('examples/ex2.csv', names=names, index_col='message')
df4

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [7]:
parsed0 = pd.read_csv('examples/csv_mindex.csv')
parsed0

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [8]:
parsed1 = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed1

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [9]:
list(open('examples/ex3.txt'))  # casos em que a tabela não tem um delimitador físico

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [10]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [11]:
pd.read_csv('examples/ex4.csv')

                                                                       # hey!
a                                                   b        c   d    message
# just wanted to make things more difficult for you NaN      NaN NaN      NaN
# who reads CSV files with computers                 anyway? NaN NaN      NaN
1                                                   2        3   4      hello
5                                                   6        7   8      world
9                                                   10       11  12       foo

In [12]:
pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])  # ignora as linhas

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [14]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [15]:
pd.read_csv('examples/ex5.csv', na_values=['NULL'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [16]:
sentinelas = {'message': ['foo', 'NA'], 'something':['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinelas)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [17]:
colunas = ['Argumentos', 'Descrição']
tabela2 = pd.read_excel('examples/tabela2.xlsx', names = colunas)
tabela2

,Argumentos,Descrição
0,sep ou delimiter,Sequência de caracteres ou uma expressão regular a ser usada para separ...
1,header,Número da linha a ser usada como nomes de coluna; o default é 0 (primei...
2,index_col,Números ou nomes de coluna a serem usados como índice das linhas no res...
3,names,Lista de nomes de colunas para o resultado; pode ser combinado com head...
4,skiprows,Número de linhas a serem ignoradas no início do arquivo ou lista de núm...
5,na_values,Sequência de valores a serem substituídos por NA.
6,comment,Caractere(s) para separar comentários no final das linhas
7,parse_dates,Tenta fazer parse de dados para datetime; o default é False. Se for Tru...
8,keep_date_col,"Se as colunas forem reunidas para parse de data, mantém as colunas unid..."
9,converters,Dicionário contendo o número ou o nome de colunas mapeados para funções...
10,dayfirst,"Ao fazer parsing de datas potencialmente ambíguas, trata-as como estand..."
11,date_parser,Função a ser usada para parse de datas.
12,nrows,Número de linhas a serem lidas no início do arquivo.
13,iterator,Devolve um objeto TextParser para ler o arquivo aos poucos.
14,chunksize,"Para iteração, é o tamanho das partes do arquivo."
15,skip_footer,Número de linhas a serem ignoradas no final do arquivo.
16,verbose,"Exibe várias informações de saída do parser, como o número de valores a..."
17,encoding,"Codificação de texto para Unicode (por exemplo, 'utf-8' para texto codi..."
18,squeeze,"Se os dados sujeitos a parsing contiverem apenas uma coluna, devolve um..."
19,thousands,"Separador de milhar (por exemplo, ',' ou '.')."

###**Lendo arquivos-texto em partes**

In [18]:
pd.options.display.max_rows = 10  # Perceba que teremos tabelas com as 5 primeiras e 5 ultimas linhas

In [19]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [20]:
result = pd.read_csv('examples/ex6.csv', nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [21]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)  # TextParser é um objeto iterator, pelo que entendi
tot=pd.Series([])
for piece in chunker:
  tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot[:10]

<ipython-input-21-ccaee1cd6485>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot=pd.Series([])

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

###**Escrevendo dados em formato texto**

In [22]:
dados = pd.read_csv('examples/ex5.csv')
dados

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
dados.to_csv('examples/out.csv')

In [24]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [25]:
import sys

In [26]:
dados.to_csv(sys.stdout, sep="|")  # mudando os separadores

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [27]:
dados.to_csv(sys.stdout, na_rep='NULL')  # trocando valores nulos

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [28]:
dados.to_csv(sys.stdout, index=False, header=False)  # desativando indices e colunas

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [29]:
dados.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])  # escrevendo um subconjunto das colunas na ordem de que eu quiser

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [30]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

###**Trabalhando com formatos delimitados**

In [31]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [32]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)
reader

In [33]:
for line in reader:
  print(line)
f.close

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [34]:
with open('examples/ex7.csv') as f:
  lines = list(csv.reader(f))
  print(lines)
  header, values = lines[0], lines[1:]

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [35]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [36]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = " "
    quoting = csv.QUOTE_MINIMAL

In [37]:
with open('examples/ex7.csv') as f:
    reader = csv.reader(f, dialect=my_dialect)

In [38]:
with open('examples/ex7.csv') as f:
  reader = csv.reader(f, delimiter='|')
  print(list(reader))

[['a,"b","c"'], ['1,"2","3"'], ['1,"2","3"']]

In [39]:
colunas = ['Argumento', 'Descrição']
tabela3 = pd.read_excel('examples/tabela3.xlsx', names = colunas)
tabela3

,Argumento,Descrição
0,lineterminator,Finalizador de linha para escrita; o default é '\r\n'. O reader ignora ...
1,quotechar,Caractere de aspas para campos com caracteres especiais (como um delimi...
2,quoting,Convenção para aspas. As opções incluem csv.QUOTE_ALL (aspas em todos o...
3,skipinitialspace,Ignora espaços em branco depois de cada delimitador; o default é False.
4,doublequote,"Como lidar com o caractere de aspas em um campo; se for True, é duplo ..."
5,escapechar,String para escapar o delimitador se quoting estiver definido com csv.Q...

In [40]:
#with open('mydata.csv', 'w') as f:
#    writer = csv.writer(f, dialect=my_dialect)
#    writer.writerrow('one', 'two', 'three')
#    writer.writerow('1', '2', '3')
#    writer.writerow('4', '5', '6')
#    writer.writerow('7', '8', '9')

###**Dados JSON**

In [50]:
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [51]:
import json

result = json.loads(obj)
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [53]:
asjson = json.dumps(result)

In [56]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   34
1  Katie   42

In [57]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [59]:
dados = pd.read_json('examples/example.json')  # As opções default para pandas.read_json supõem que cada objeto no array JSON seja uma linha da tabela:
dados

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
print(dados.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [62]:
print(dados.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

###**XML e HTML: web scraping**

In [66]:
%pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)

In [69]:
%pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)

In [70]:
%pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.8/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib) (0.5.1)

In [71]:
tabelas = pd.read_html('examples/fdic_failed_bank_list.html')
tabelas

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [72]:
len(tabelas)

1

In [74]:
falencias = tabelas[0]
falencias.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [77]:
falencias_ano = pd.to_datetime(falencias['Closing Date'])
falencias_ano

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [78]:
falencias_ano.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

###**Fazendo parse de XML com lxml.objectify**

In [79]:
from lxml import objectify

In [80]:
path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [81]:
dados = []
pular_campos = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

In [82]:
for elt in root.INDICATOR:
  el_data = {}
  for child in elt.getchildren():
    if child.tag in pular_campos:
      continue
    el_data[child.tag] = child.pyval
  dados.append(el_data)

In [83]:
perf = pd.DataFrame(dados)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [85]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [86]:
root

In [87]:
root.get('href')

'http://www.google.com'

In [88]:
root.text

'Google'

###**6.2 Formatos de dados binários**