<a href="https://colab.research.google.com/github/M-I-N1985/python_para_analise_de_dados_wes_mckinney/blob/main/capitulo_8___Tratamento_de_dadosjuncao_combinacao_e_reformatacao_wes_mckinney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Indexação hierárquica**

In [120]:
import pandas as pd
import numpy as np

In [121]:
dados = pd.Series(np.random.randn(9), index = [['a','a','a','b','b','c','c','d','d'], [1, 2, 3, 1, 3, 1, 2, 2, 3]])
dados

a  1   -0.081779
   2   -1.978181
   3    1.245944
b  1   -0.456549
   3    1.038858
c  1    1.296222
   2    0.770665
d  2   -1.254239
   3   -0.570796
dtype: float64

In [122]:
dados.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [123]:
dados.index.levels

FrozenList([['a', 'b', 'c', 'd'], [1, 2, 3]])

In [124]:
dados['b']

1   -0.456549
3    1.038858
dtype: float64

In [125]:
dados['b':'c']

b  1   -0.456549
   3    1.038858
c  1    1.296222
   2    0.770665
dtype: float64

In [126]:
dados.loc[['b','d']]

b  1   -0.456549
   3    1.038858
d  2   -1.254239
   3   -0.570796
dtype: float64

In [127]:
dados.loc[:,2]

a   -1.978181
c    0.770665
d   -1.254239
dtype: float64

In [128]:
dados[:,2]

a   -1.978181
c    0.770665
d   -1.254239
dtype: float64

In [129]:
dados.unstack()  # fazendo uma tabela pivo

          1         2         3
a -0.081779 -1.978181  1.245944
b -0.456549       NaN  1.038858
c  1.296222  0.770665       NaN
d       NaN -1.254239 -0.570796

In [130]:
dados.unstack().stack()  # operação inversa de unstack

a  1   -0.081779
   2   -1.978181
   3    1.245944
b  1   -0.456549
   3    1.038858
c  1    1.296222
   2    0.770665
d  2   -1.254239
   3   -0.570796
dtype: float64

In [131]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)), 
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                     columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [132]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['estado', 'cor']
frame

estado     Ohio     Colorado
cor       Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [133]:
frame['Ohio']

cor        Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

###*Reorganizando e ordenando níveis*

In [134]:
frame.swaplevel('key1', 'key2')  # swaplevel aceita dois números ou nomes de níveis e devolve um novo objeto com os níveis trocados - os dados, porém, permanecem inalterados

estado     Ohio     Colorado
cor       Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [135]:
frame.sort_index(level=1)  # sort_index ordena os dados usando os valores de um só nível

estado     Ohio     Colorado
cor       Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [136]:
frame.sort_index(level=0)

estado     Ohio     Colorado
cor       Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [137]:
frame.swaplevel(0, 1).sort_index(level=0)

estado     Ohio     Colorado
cor       Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

In [138]:
frame.swaplevel(0, 1).sort_index(level=1)

estado     Ohio     Colorado
cor       Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

###*Estatísticas de resumo por nível*

In [139]:
frame

estado     Ohio     Colorado
cor       Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [140]:
frame.sum(level='key2')

<ipython-input-140-f3eb061baf48>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='key2')

estado  Ohio     Colorado
cor    Green Red    Green
key2
1          6   8       10
2         12  14       16

In [141]:
frame.sum(level='cor', axis=1)  # lembrando que 0 = linha e 1 = coluna, no exemplo anterior, como a info era referente a linha, o axis default já é "0"

<ipython-input-141-d81b4b7ea993>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='cor', axis=1)  # lembrando que 0 = linha e 1 = coluna, no exemplo anterior, como a info era referente a linha, o axis default já é "0"

cor        Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

###*Indexando com as colunas de um DataFrame*

In [142]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
                     'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                     'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [143]:
frame2 = frame.set_index(['c', 'd'])  # set_index criará um novo DataFrame usando uma ou mais de suas colunas como índice
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [144]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [145]:
frame2.reset_index()  # os níveis dos índices hierárquicos são passados para as colunas

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

#**Combinando e mesclando conjuntos de dados**


*   *pandas.merge conecta linhas em DataFrames com base em um aou mais chaves. Essa operação será conhecida dos usuários de SQL ou de outros bancos de dados relacionais, pois ela implementa as operações de junção (join) dos bancos de dados.*

*   *pandas.concat concatena ou “empilha” objetos ao longo de um eixo.*

*   *O método de instância combine_first permite combinar dados que se sobrepõem a fim de preencher valores ausentes em um objeto com valores de outro objeto.*

###**Junções no DataFrame no estilo de bancos de dados**

In [146]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'dados1': range(7)})
df1

  key  dados1
0   b       0
1   b       1
2   a       2
3   c       3
4   a       4
5   a       5
6   b       6

In [147]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'dados2': range(3)})
df2

  key  dados2
0   a       0
1   b       1
2   d       2

In [148]:
pd.merge(df1, df2)  # uma junção de muitos-para-um (many-toone)

  key  dados1  dados2
0   b       0       1
1   b       1       1
2   b       6       1
3   a       2       0
4   a       4       0
5   a       5       0

In [149]:
pd.merge(df1, df2, on='key')

  key  dados1  dados2
0   b       0       1
1   b       1       1
2   b       6       1
3   a       2       0
4   a       4       0
5   a       5       0

In [150]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],  'dados1': range(7)})
df3

  lkey  dados1
0    b       0
1    b       1
2    a       2
3    c       3
4    a       4
5    a       5
6    b       6

In [151]:
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'], 'dados2': range(3)})
df4

  rkey  dados2
0    a       0
1    b       1
2    d       2

In [152]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

  lkey  dados1 rkey  dados2
0    b       0    b       1
1    b       1    b       1
2    b       6    b       1
3    a       2    a       0
4    a       4    a       0
5    a       5    a       0

*valores 'c' e 'd' e os dados associados estão ausentes no resultado. Por padrão, merge executa
uma junção do tipo 'inner' (interna); as chaves no resultado são a **intersecção**, ou o conjunto comum que se encontra nas duas tabelas. Outras opções possíveis são: ‘left', 'right' e 'outer'. A junção externa (outer join) efetua a união das chaves, combinando o efeito da aplicação das junções tanto à esquerda quanto à direita*

In [153]:
pd.merge(df1, df2, how='outer')

  key  dados1  dados2
0   b     0.0     1.0
1   b     1.0     1.0
2   b     6.0     1.0
3   a     2.0     0.0
4   a     4.0     0.0
5   a     5.0     0.0
6   c     3.0     NaN
7   d     NaN     2.0

In [154]:
tabela1 = {'Opção': ['inner', 'left', 'right', 'outer'], 
           'Comportamento': ['Utiliza somente as combinações de chaves observadas nas duas tabelas', 
                             'Utiliza todas as combinações de chaves encontradas na tabela à esquerda', 
                             'Utiliza todas as combinações de chaves encontradas na tabela à direita', 
                             'Utiliza todas as combinações de chaves observadas nas duas tabelas em conjunto'
                             ]
           }

In [155]:
tabela1 = pd.DataFrame(tabela1)
tabela1

   Opção                                      Comportamento
0  inner  Utiliza somente as combinações de chaves obser...
1   left  Utiliza todas as combinações de chaves encontr...
2  right  Utiliza todas as combinações de chaves encontr...
3  outer  Utiliza todas as combinações de chaves observa...

In [156]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'dados1': range(6)})
df1

  key  dados1
0   b       0
1   b       1
2   a       2
3   c       3
4   a       4
5   b       5

In [157]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'], 'dados2': range(5)})
df2

  key  dados2
0   a       0
1   b       1
2   a       2
3   b       3
4   d       4

In [158]:
pd.merge(df1, df2, on='key', how='left')

   key  dados1  dados2
0    b       0     1.0
1    b       0     3.0
2    b       1     1.0
3    b       1     3.0
4    a       2     0.0
5    a       2     2.0
6    c       3     NaN
7    a       4     0.0
8    a       4     2.0
9    b       5     1.0
10   b       5     3.0

*Junções de muitos para muitos formam o produto cartesiano das linhas. Como havia três linhas 'b' no DataFrame da esquerda e duas no da direita, há seis linhas 'b' no resultado. O método de junção afeta somente os valores de chaves distintos que aparecem no resultado*

In [159]:
pd.merge(df1, df2, how='inner')

  key  dados1  dados2
0   b       0       1
1   b       0       3
2   b       1       1
3   b       1       3
4   b       5       1
5   b       5       3
6   a       2       0
7   a       2       2
8   a       4       0
9   a       4       2

In [160]:
esquerda = pd.DataFrame({'key1': ['foo', 'foo', 'bar'], 'key2': ['one', 'two', 'one'], 'lval': [1, 2, 3]})  # Para um merge com várias chaves, passe uma lista de nomes de coluna
esquerda

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [161]:
direita = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'], 'key2': ['one', 'one', 'one', 'two'], 'rval': [4, 5, 6, 7]})
direita

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [162]:
pd.merge(esquerda, direita, on=['key1', 'key2'], how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [163]:
pd.merge(esquerda, direita, on='key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [164]:
pd.merge(esquerda, direita, on='key1', suffixes=('_esquerda', '_direita'))

  key1 key2_esquerda  lval key2_direita  rval
0  foo           one     1          one     4
1  foo           one     1          one     5
2  foo           two     2          one     4
3  foo           two     2          one     5
4  bar           one     3          one     6
5  bar           one     3          two     7

In [165]:
tabela2= {"Argumento": ["left","right", "how", "on", "left_on", "right_on", "left_index", "right_index", 
                        "sort", "suffixes", "copy", "indicator"],
          "Descrição": ["Dataframe à esquerda para o merge", 
                        "Dataframe à direita para o merge", 
                        "Uma opção entre 'inner', 'outer', 'left' ou 'right'; o default é 'inner'", 
                        "Nomes de coluna para a junção. Deve ser encontrado nos dois objetos DataFrame. Se não for especificado e nenhuma outra chave de junção for definida, usará a intersecção entre os nomes de colunas em left e em right como as chaves da junção", 
                        "Colunas no DataFrame left a serem usadas como chaves de junção", 
                        "Análogo ao left_on para o DataFrame left", 
                        "Utiliza o índice de linha em left como sua chave de junção (ou chaves, se for um MultiIndex)", 
                        "Análogo a left_index", 
                        "Ordena os dados do merge em ordem lexicográfica, de acordo com as chaves de junção; o default é True (desative-o para ter um desempenho melhor em alguns casos, quando os conjuntos de dados forem grandes)", 
                        "Tupla de valores de strings a serem concatenados aos nomes de colunas em caso de sobreposição; o default é ('_x', '_y') (por exemplo, se houver ‘data’ nos dois objetos DataFrame, esses aparecerão como 'data_x' e 'data_y' no resultado)", 
                        "Se for False, evita copiar dados para a estrutura de dados resultante em alguns casos excepcionais; por padrão, sempre copia", 
                        "Adiciona uma coluna especial _merge que informa a origem de cada linha; os valores serão 'left_only', 'right_only' ou 'both' conforme a origem dos dados da junção em cada linha"]}

pd.DataFrame(tabela2)

      Argumento                                          Descrição
0          left                  Dataframe à esquerda para o merge
1         right                   Dataframe à direita para o merge
2           how  Uma opção entre 'inner', 'outer', 'left' ou 'r...
3            on  Nomes de coluna para a junção. Deve ser encont...
4       left_on  Colunas no DataFrame left a serem usadas como ...
5      right_on           Análogo ao left_on para o DataFrame left
6    left_index  Utiliza o índice de linha em left como sua cha...
7   right_index                               Análogo a left_index
8          sort  Ordena os dados do merge em ordem lexicográfic...
9      suffixes  Tupla de valores de strings a serem concatenad...
10         copy  Se for False, evita copiar dados para a estrut...
11    indicator  Adiciona uma coluna especial _merge que inform...

###**Fazendo merge com base no índice**